@page
@model IS645Project.Pages.Reservations.MyReservationsModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <td>Room Number</td>
            <td>Room Type</td>
            <td>Check-In Date</td>
            <td>Check-Out Date</td>
        </tr>
    </thead>
    <tbody>
        @{
            for(int i =0; i< Model.reservations.Count; i++)
            {
                <tr>
                    <td>@Model.reservations[i].RoomNumber</td>
                    <td>@Model.roomTypes[i]</td>
                    <td>@Model.reservations[i].CheckInDate</td>
                    <td>@Model.reservations[i].CheckOutDate</td>
                </tr>
            }
        }
    </tbody>
</table>