@page
@model IS645Project.Pages.Account.EditAccountModel
@{
}
<h1>Feature unreleased</h1>
@*<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="Email">Email</label>
        <div class="col-sm-6">
            <input placeholder="@(!string.IsNullOrEmpty(Model.customer.Email) ? Model.customer.Email : "example@AppDomain.com")" type="text" class="form-control" name="Email" value="@Model.customer.Email"  />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="FirstName">FirstName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="FirstName" value="@Model.customer.FirstName"  />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="LastName">LastName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="LastName" value="@Model.customer.LastName"  />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 g-grid">
            <button type="submit" class="btn btn-primary">Register</button> &nbsp;
            <button type="reset" class="btn btn-secondary0">Clear</button>
        </div>
    </div>
</form> *@