@page
@model IS645Project.Pages.Account.LoginModel
@{
}

<h2>Login</h2>
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <button type="submit">Login</button>
</form>
@if (Model.Message != null)
{
    <p>@Model.Message</p>
}